# Serial output for CLI mode
serial --unit=0 --speed=9600
terminal_output serial
terminal_input serial

# General Settings
set timeout=0
set default=0

menuentry "Try or Install AaronOS" {
    multiboot2 /boot/kernel.elf
    boot
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}